* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

:root {
    --main-color:  #FF4343;
    --second-color: #2D3033;
    --text-color: #6C7279;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 36px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;

    z-index: 1;
}

.header::after {
    content: "";
    width: 1170px;
    height: 1px;
    display: block;
    position: absolute;
    background: #BABBC5;
    left: 0;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrapper {
    max-width: 183px;
    display: inline-block;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__burger-wrapper {
    max-width: 24px;
    display: none;
}

.header__burger {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav__list {
    display: flex;
    list-style: none;
    column-gap: 4px;
}

.nav__item {
    min-width: 130px;
    text-align: center;
    position: relative;
}

.nav__link {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__link:active {
    color: #E71414;
    transition: all 0.3s;
}

.nav__item-active::after,
.nav__item:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: calc(100% + 39px);
    background: #BABBC5;
    position: absolute;
    transition: all 0.3s;
}

/* Promo */
.promo {
    padding: 230px 0 120px;
    background: url(../assets/images/promo/promo-img.jpg) center/cover no-repeat;
    position: relative;
}

.promo::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(37, 43, 73, 0.8);
    position: absolute;
}

.promo__wrapper {
    position: relative;

    z-index: 1;
}

.promo__title {
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.promo__text {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    margin-bottom: 79px;
}

.promo__button {
    max-width: 369px;
    margin: 0 auto;
}

/* Btn */
.btn {
    padding: 28px 0;
    background: var(--main-color);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
}

.btn:hover {
    background: rgba(231, 20, 20, 1);
    transition: all 0.3s;
}

.btn:active {
    box-shadow: 4px 4px 30px 0px #FF4343;
    transition: all 0.3s;
}

@media (max-width: 1200px) {
    .header::after {
        width: calc(100% - 40px);
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1014px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .nav__link {
        font-size: 12px;
    }

    .promo {
        padding: 257px 0 126px;
    }

    .promo__title {
        font-size: 48px;
        margin-bottom: 61px;
    }

    .promo__text {
        font-size: 18px;
        margin-bottom: 89px;
    }

    .promo__button {
        max-width: 314px;
    }
}

@media (max-width: 890px) {
    .header__burger-wrapper {
        display: block;
    }

    .header__burger .header__burger-line:hover {
        fill: var(--main-color);
    }

    .header__nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 21.4px 0;
    }

    .header::after {
        display: none;
    }

    .header__logo-wrapper {
        max-width: 103px;
    }

    .promo {
        padding: 106px 0 52px;
    }

    .promo__title {
        font-size: 36px;
        margin-bottom: 33px;
    }

    .promo__text {
        font-size: 14px;
        margin-bottom: 51px;
    }

    .promo__button {
        max-width: 280px;
    }

    .btn {
        padding: 18px 0;
    }
}

@media (max-width: 330px) {
    .container {
        max-width: 310px;
    }
}